/* Other rules */

body {
  background-color: #f5f6f7;
  box-sizing: border-box;
  width: 100vw;
}

.container {
  width: 1024px;
  margin: 0 auto;
}

.loader {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader p {
  text-align: center;
}

/* HEADER */

.header {
  background-color: white;
  /* border-bottom: 1px solid black; */
  height: 4 rem;
  top: 0;
  position: sticky;
  z-index: 2;
}

.top-bar {
  height: 100%;
  max-width: 1024px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
}

.actions {
  margin-right: 1rem;
}

/* HERO BANNER */
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero img {
  max-width: 1024px;
  top: 0;
  margin: 0 auto;
}

.offercard {
  background-color: rgb(0, 255, 13);
  width: 400px;
  height: 400px;
}

/* BODY */

.offer-grid {
  display: flex;
  flex-wrap: wrap;
}

.offer-grid-card img {
  width: 12.5rem;
  height: 12.5rem;
  object-fit: cover;
}

/* All related to page offercard */

.offer {
  width: 1024px;
  display: flex;
  margin: 0 auto;
}

.offer-col1 {
  flex: 1;
  background-color: antiquewhite;
  width: 31.25rem;
  height: 31.25rem;
}

.offer-col2 {
  background-color: white;
}

.offer-grid-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  width: 18.75rem;
  height: 18.75rem;
  padding: 1rem;
  margin: 1rem 0.25rem;
  overflow: hidden;
}

.offer-grid-card img {
  width: 12.5rem;
  height: 12.5rem;
}
